<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evans.anypic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="AnyPicApplication">
        <activity
            android:name="com.evans.anypic.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.evans.anypic.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.evans.anypic.LoginOrRegisterActivity" />
        </activity>
        <activity
            android:name="com.evans.anypic.LoginOrRegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.evans.anypic.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.evans.anypic.LoginOrRegisterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.evans.anypic.LoginOrRegisterActivity" />
        </activity>
        <activity
            android:name="com.evans.anypic.StreamActivity"
            android:label="@string/title_activity_stream" >
        </activity>

        <!-- <service android:name="com.parse.PushService" /> -->


        <!-- <receiver android:name="com.parse.ParseBroadcastReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name="com.evans.anypic.CaptureActivity"
            android:label="@string/title_activity_capture"
            android:parentActivityName="com.evans.anypic.StreamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.evans.anypic.StreamActivity" />
        </activity>
        <activity
            android:name="com.evans.anypic.PhotoDetailsActivity"
            android:label="@string/title_activity_photo_details"
            android:parentActivityName="com.evans.anypic.StreamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.evans.anypic.StreamActivity" />
        </activity>
        <activity
            android:name="com.evans.anypic.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>